* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

@media screen and (max-width:576px) {
  body {
    padding-top: 110px;
  }

  div#_round {
    position: fixed;
    top: 40%;
    left: 33.5%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-top: 8px solid #08f;
    border-right: 8px solid #08f;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-radius: 50%;
    z-index: 9;
    animation: _round 400ms linear infinite;
  }

  @keyframes _round {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #303030;
    padding: 10px 0;
    z-index: 8;
  }

  header span {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
  }

  section {
    position: fixed;
    top: 47px;
    left: 0;
    width: 100%;
    background: #303030;
    padding: 10px 0;
    color: #fff;
    z-index: 8;
    overflow-y: hidden;
  }

  nav {
    position: relative;
    display: flex;
  }

  nav span {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
  }

  nav select {
    padding: 2px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
    outline: none;
  }

  div#column_surahs {
    position: relative;
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div#column_surahs p {
    width: 95%;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0;
    margin: 5px 0;
    background: #efefef;
    color: #303030;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }

  div#column_surahs p:active {
    background: #0fc;
    color: #000;
  }

  div.surahs_main,
  div.surahs_main div {
    position: relative;
    padding: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  div.surahs_main p {
    width: 95%;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
    color: #303030;
    background: #fafafa;
    border-radius: 2px;
  }

  div.div_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  div.common_div_1 {
    position: relative;
    width: 25%;
    height: 12.5vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  div.common_div_1 button {
    height: 12.5vh;
    padding: 5px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }

  div.common_div_1 button i {
    position: absolute;
    top: 0;
    left: 0;
  }

  div.common_div_1 button span {
    width: 100%;
  }

  div.common_div_1 button:active {
    background: #0fc;
    color: #000;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: #303030;
  }

  div.surahs_main p.after_that {
    width: 95%;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0;
    margin: 5px 0;
    background: #efefef;
    color: #303030;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  }
}